//footer
.site-footer {
  @extend .container;
  font-size: $small-font-ratio * 1em;
  width: 100%;
  padding: 2em 0;
  color: $footer-color;
  span {
    text-transform: uppercase;
  }
}

//header
.site-header {
  @extend .container;
  @include flexbox(column, nowrap, center, center);
  img {
    margin: 2em;
  }
}
.selector-container {
  p {
    font-size: $small-font-ratio * 1em;
  }
  select {
    font-size: 1.1em;
    margin: 1em 0;
  }
}

//News list
.content {
  @extend .container;
  width: 100%;
}
.article-list {
  @include flexbox(row, wrap, center, center);
}

.story {
  flex: 1 0 50%;
  @include desktop {
    flex: 1 0 25%;
  }
  position: relative;
  height: $article-height;
  background-size: cover;
  background-position: center;
  p {
    text-align: left;
    z-index: 5;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.75));
    bottom: 0;
    left: 0;
    line-height: 1.5;
    padding: 0.4em;
  }
}
