//footer
.site-footer {
  @extend .container;
  font-size: $small-font-ratio * 1em;
  margin: 3em auto;
  color: $footer-color;
  span {
    text-transform: uppercase;
  }
  @include desktop {
    text-align: left;
    padding: 0 5em;
  }
}

//header
.site-header {
  @extend .container;
  height: 85vh;
  img {
    margin: 2em;
  }
  @include flexbox(row, nowrap, center, center);
  @include tablet {
    justify-content: flex-start;
    .header-container {
      @include flexbox(row, nowrap, center, center);
      img {
        width: 25vw;
        height: auto;
      }
    }
  }
  @include desktop {
    justify-content: flex-start;
    .header-container {
      @include flexbox(row, nowrap, center, center);
    }
  }
}

.selector-container {
  font-size: $small-font-ratio * 1em;

  select {
    margin: 0.8em 0;
  }
}

.post-select {
  height: auto;
  @include tablet {
    .header-container {
      img {
        height: 70px;
        width: auto;
        padding: 0 3em;
      }
    }
  }
  @include desktop {
    .header-container {
      img {
        height: 70px;
        width: auto;
      }
    }
  }
}
//News list
.content {
  @extend .container;
  margin-top: 2em;
}
.article-list {
  @include flexbox(row, wrap, center, center);
}

.story {
  flex: 1 0 50%;
  @include desktop {
    flex: 1 0 25%;
  }
  position: relative;
  height: $article-height;
  background-size: cover;
  background-position: center;
  p {
    text-align: left;
    z-index: 5;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.75));
    bottom: 0;
    left: 0;
    line-height: 1.5;
    padding: 0.4em;
  }
}
