@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    @content;
  }
}

@mixin flexbox($direction, $wrap, $justify, $align) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}
